{% extends 'base.html' %}

{% block title %} Seller {% endblock %}

{% block sidebar %}
  <div class="text-center">
    <img class="img-circle" src="{{ MEDIA_URL }}{{ request.user.seller.image }}"
        width="70" height="70">
    <br/>
    <br/>
    <h4>Hi, {{ request.user.get_full_name }}</h4>
    <h5>{{ request.user.seller.name }}</h5>
  </div>

  <div class="list-group">
    <span class="text-uppercase">Dashboard</span>
    
    <a href="{% url 'seller-order' %}" class="list-group-item">Orders</a>
    <a href="{% url 'seller-item' %}" class="list-group-item">Items</a>
    <a href="{% url 'seller-report' %}" class="list-group-item">Reports</a>

    <span class="text-uppercase">Profile</span>
    <a href="{% url 'seller-account' %}" class="list-group-item">Account</a>
  </div>

  <div class="text-centre">
    <a href="{% url 'seller-sign-out' %}?next={{ request.path }}"
      class="btn btn-pink">Logout</a>
  </div>


{% endblock %}
